textarea{
    width: 560px;
    height: 80px;
    background-color: #f3f3f3;
    resize: none;
  
}

button {
    width: 100px;
    height: 30px;
    background-color: #282828;
    border: none;
    color: #fff;
    font-family: arial;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 60px;

    
}

.comment-box {
    width: 560px;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #f3f3f3;
    border-radius: 4px;
    text-align: left;
}

.comment-box p {
    font-family: arial;
    font-size: 14px;
    line-height: 16px;
    color:#282828;
    font-weight: 100;
}